<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506003445323-p94i9mgg06nlg19lcsj8qkf1kl6u4d95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506003445323-p94i9mgg06nlg19lcsj8qkf1kl6u4d95</string>
	<key>API_KEY</key>
	<string>AIzaSyBMHvDsOhZrAAk1EZ9tG3y91QuVP4zH_Qk</string>
	<key>GCM_SENDER_ID</key>
	<string>506003445323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assessor</string>
	<key>PROJECT_ID</key>
	<string>assessor-c1e05</string>
	<key>STORAGE_BUCKET</key>
	<string>assessor-c1e05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506003445323:ios:d4333b3c903a2889</string>
	<key>DATABASE_URL</key>
	<string>https://assessor-c1e05.firebaseio.com</string>
</dict>
</plist>